extends ../layout/layout

block custom-head
  title Kyselyn katselu
  link(rel='stylesheet', href='/css/query-live.min.css')
  script(defer='defer',src='//cdn.metatavu.io/libs/lodash/4.16.4/lodash.min.js',type='text/javascript')
  script(defer='defer',src='//cdn.metatavu.io/libs/chart-js/2.5.0/Chart.min.js',type='text/javascript')
  script(defer='defer',src='/js/live-delphi-chart.js',type='text/javascript')
  script(defer='defer',src='/js/live-delphi-client.js',type='text/javascript')
  script(defer='defer',src='//cdn.metatavu.io/libs/bootbox-js/4.4.0/bootbox.min.js',type='text/javascript')
  script(defer='defer',src='/js/live-query-comments.js',type='text/javascript')
block body
  .container   
    form
      .row
        .col-12
          h1
            |Kyselyn kommenttien katselu
      .row
        .col-12
          .card.card-inverse
            .card-block
              h4.card-title
                |Kyselyn
                | 
                =query.name
                |-kommenttienkatselu
              a(href="/queries/live?id=" + query.id style="margin-left: 20px") Live-katseluun
              .comments-container(data-ws-session=sessionId, data-query-id=query.id, data-color-x=query.colorx, data-color-y=query.colory)
                .comments-label.comments-label-left
                  .comments-label-inner
                    =query.labely
                    .comments-label-color(style="background-color:" + query.colory)
                .comments-grid-container
                  .comments.comments-1(style="background-image: linear-gradient(to bottom right, " + query.segment1Background + ", " + query.segment1Background + ")")
                    a.expand-comments.btn(href='#')
                      i.fa.fa-expand
                    a.unexpand-comments.btn(href='#')
                      i.fa.fa-compress
                  .comments.comments-2(style="background-image: linear-gradient(to bottom right, " + query.segment2Background + ", " + query.segment2Background + ")")
                    a.expand-comments.btn(href='#')
                      i.fa.fa-expand
                    a.unexpand-comments.btn(href='#')
                      i.fa.fa-compress
                  .comments.comments-3(style="background-image: linear-gradient(to bottom right, " + query.segment3Background + ", " + query.segment3Background + ")")
                    a.expand-comments.btn(href='#')
                      i.fa.fa-expand
                    a.unexpand-comments.btn(href='#')
                      i.fa.fa-compress
                  .comments.comments-4(style="background-image: linear-gradient(to bottom right, " + query.segment4Background + ", " + query.segment4Background + ")")
                    a.expand-comments.btn(href='#')
                      i.fa.fa-expand
                    a.unexpand-comments.btn(href='#')
                      i.fa.fa-compress
                .comments-label.comments-label-bottom
                  .comments-label-inner
                    =query.labelx
                    .comments-label-color(style="background-color:" + query.colorx)