extends ../layout/layout

block custom-head
  title Kyselyn live-katselu
  link(rel='stylesheet', href='/css/query-live.min.css')
  script(defer='defer',src='//cdn.metatavu.io/libs/chart-js/2.5.0/Chart.min.js',type='text/javascript')
  script(defer='defer',src='/js/live-delphi-chart.js',type='text/javascript')
  script(defer='defer',src='/js/live-delphi-client.js',type='text/javascript')
  script(defer='defer',src='/js/live-query.js',type='text/javascript')
block body
  .container   
    form
      .row
        .col-12
          h1
            |Kyselyn 
            =query.name
            |&nbsp;-katselu
      
      .row
        .col-12
          .card.card-inverse
            .card-block
              h4.card-title
                =query.thesis
              a.btn(href='#', class="fullScreen" , id="fullScreen")
                i.fa.fa-arrows-alt
              .chart-container
                canvas#chart(width="400", height="400", data-ws-session=sessionId, data-query-id=query.id,data-query-label-x=query.labelx,data-query-label-y=query.labely)