extends ../layout/layout

block custom-head
  title Kyselyiden hallinta
  script(defer='defer',src='//cdn.metatavu.io/libs/bootbox-js/4.4.0/bootbox.min.js',type='text/javascript')
  script(defer='defer',src='/js/manage-queries.js',type='text/javascript')
block body
  .container   
    form
      .row
        .col-12
          h1
            |Kyselyiden hallinta
      
      .row
        .col-12
          .card.card-inverse
            .card-block
              h4.card-title
                |Kyselyt
                a.pull-right.btn.btn-primary(href="queries/create")
                  |Luo uusi kysely        
              ul.list-group              
                each query in queries
                  li.list-group-item.d-flex
                    .col-8.no-gutter-left.d-flex.justify-content-start.query-name
                      =query.name
                    .col-4.no-gutter-right.d-flex.justify-content-end
                      .dropdown
                        button#dropdownMenuButton.btn.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                          i.fa.fa-bar-chart
                          |&nbsp;&nbsp;Tulosta raportti
                        .dropdown-menu(aria-labelledby='dropdownMenuButton')
                          a.dropdown-item(href="queries/reports/scatter2d?format=PDF&id=" + query.id,target="_blank")
                            i.fa.fa-file-pdf-o
                            |&nbsp;&nbsp;Tulosta kyselyn data (PDF)
                          a.dropdown-item(href="queries/reports/scatter2d?id=" + query.id,target="_blank")
                            i.fa.fa-file-text-o
                            |&nbsp;&nbsp;Tulosta kyselyn data (HTML)
                      .dropdown
                        button#dropdownMenuButton.btn.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                          i.fa.fa-download
                          |&nbsp;&nbsp;Vie dataa
                        .dropdown-menu(aria-labelledby='dropdownMenuButton')
                          a.dropdown-item(href="queries/export-query-answers?includeTimes=false&format=excel&id=" + query.id)
                            i.fa.fa-file-excel-o
                            |&nbsp;&nbsp;Vie viimeisimmät vastaukset (Excel)
                          a.dropdown-item(href="queries/export-query-answers?includeTimes=true&format=excel&id=" + query.id)
                            i.fa.fa-file-excel-o
                            |&nbsp;&nbsp;Vie vastaukset aikojen kanssa (Excel)
                          a.dropdown-item(href="queries/export-query-comments?format=excel&id=" + query.id)
                            i.fa.fa-file-excel-o
                            |&nbsp;&nbsp;Vie kommentit (Excel)
                      a.btn.btn-sm.btn-info(href="queries/edit?id=" + query.id)
                        i.fa.fa-pencil-square-o
                        |&nbsp;&nbsp;Muokkaa
                      a.btn.btn-sm.btn-danger.delete-query(href="#",data-query-id=query.id)
                        i.fa.fa-trash
                        |&nbsp;&nbsp;Poista
                      a.btn.btn-sm.btn-danger.delete-query-data(href="#",data-query-id=query.id)
                        i.fa.fa-trash-o
                        |&nbsp;&nbsp;Poista Datat
                        