extends ../layout/layout

block custom-head
  title Kyselyt
  link(rel='stylesheet', href='//cdn.metatavu.io/libs/bootstrap4-tagsinput/4.1.2/tagsinput.css')
  script(defer='defer', src='//cdn.metatavu.io/libs/bootbox-js/4.4.0/bootbox.min.js',type='text/javascript')
  script(defer='defer', src='//cdn.metatavu.io/libs/bootstrap4-tagsinput/4.1.2/tagsinput.js')
  script(defer='defer', src='/js/queries.js',type='text/javascript')
block body
  .container
    .row
      .col-12
        .form-group
          label Pääsykoodit
          input.form-control(name="accessCodes", data-role="tagsinput", value=accessCodes)
    form
      .row
        .col-12
          h1
            |Kyselyt
      each folder in folders
        .row
          .col-12
            .card.card-inverse
              .card-block
                h4.card-title
                  =folder.name     
                  ul.list-group              
                    each query in folder.queries
                      li.list-group-item.d-flex
                        .col-8.no-gutter-left.d-flex.justify-content-start.query-name
                          =query.name
                        .col-4.no-gutter-right.d-flex.justify-content-end
                          a.btn.btn-sm.btn-success(href="queries/live?id=" + query.id)
                            |Live-katselu
      .row
        .col-12
          .card.card-inverse
            .card-block
              h4.card-title
                |Loppuneet kyselyt
              ul.list-group              
                each query in endedQueries
                  li.list-group-item.d-flex
                    .col-8.no-gutter-left.d-flex.justify-content-start.query-name
                      =query.name
                    .col-4.no-gutter-right.d-flex.justify-content-end
                      a.btn.btn-sm.btn-success(href="queries/playback?id=" + query.id)
                        |Katselu
                    
