extends layout/layout

block custom-head
  title Kyselyiden hallinta
block body
  .container   
    form
      .row
        .col-12
          h1
            |Live Delphi
      .row
        .col-12
          .card.card-inverse
            .card-block
              h4.card-title
                |Tervetuloa!
              p
                |Tervetuoloa Live Delphi -palveluuun. 