each childComment in childComments
  blockquote.blockquote.comment-child-comment(data-comment-id=childComment.id,class=childComment.odd ? 'blockquote-reverse' : '',style='border-color:'  + childComment.color)
    !=childComment.comment