mixin menu(active)
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarContent', aria-controls='navbarContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarContent.collapse.navbar-collapse
      .container
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/')
              | Etusivu
          li.nav-item
            a.nav-link(href='/webapp')
              | LiveDelphi - web
          li.nav-item
            a.nav-link(href='/queries')
              | Kyselyt
          if isLoggedIn
            li.nav-item
              a.nav-link(href='/manage/queries') Kyselyiden hallinta
            li.nav-item
              a.nav-link(href='/manage/queryfolders') Kansioiden hallinta
            li.nav-item
              a.nav-link(href='/logout') Kirjaudu ulos
          else
            li.nav-item
              a.nav-link(href='/login') Kirjaudu sisään