doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='//cdn.metatavu.io/libs/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdn.metatavu.io/libs/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/report-layout.min.css')
    block custom-head
  body
    block body
