$fullscreen-btn-color: #000;
$comment-background: #f8f8f8;
$child-comments-count-color: #006400;

.chart-container {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  
  .chart-canvas-container {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    background: #fff;
  }
  
  .chart-label {
    color: #fff;
    background: transparent;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    z-index: 99999;
    
    &.chart-label-left {
      -ms-transform: rotate(90deg);
      -ms-transform-origin: 0 0;
      -webkit-transform: rotate(90deg);
      -webkit-transform-origin: 0 0;
      transform: rotate(90deg);
      transform-origin: 0 bottom;
      margin-left: -34px;

      .chart-label-inner {
        transform: rotate(180deg);
        transform-origin: center center;
      }
    }
    
    &.chart-label-bottom {
      padding-bottom: 34px;
    }
  }
}

.card-title, .fullScreen {
  display:inline;
}

a.btn.fullScreen {
  float:right;
  background: #fff;
  color: $fullscreen-btn-color;
  
  &:focus,
  &:active {
    color: $fullscreen-btn-color;
  }
}

.progress-bar {
  height: 20px;
  width: 100%;
}

.control-buttons {
  padding-bottom: 20px;
  text-align: center;
  width: 100%;

  i {
    color: #000000;
    font-size: 28px;
  }

  .play-button {
    margin-right: 5px;
  }

  .pause-button {
    margin-left: 5px;
  }
}

.comments-container {
  box-sizing: border-box;
  width: 100%;
  margin-top: 30px;
  
  .comments-1, 
  .comments-3 {
    margin-right: 5px; 
  }
  
  .comments-2, 
  .comments-4 {
    margin-left: 5px;  
  }
  
  .comment-container {
    position: relative;
    margin-top: 40px;
    padding-left: 40px;
    cursor: pointer;
  }
  
  .comments {
    margin-top: 5px;
    box-sizing: border-box;
    padding: 20px;
    overflow-y: scroll;
    width: calc(50% - 5px);
    background-color: #fff;
    float: left;
    height: 350px;
    background-color: #ffffff;

    .expand-comments,
    .unexpand-comments {
      position: absolute;
      color: $fullscreen-btn-color;
      background: #fff;
      border: 1px solid #aaa;
      border-radius: 10px;
      z-index: 999;
      font-size: 14px;

      &:focus,
      &:active {
        color: $fullscreen-btn-color;
      }
    }
    
    .unexpand-comments {
      display: none;
    }
    
    &.expanded {
      margin-left: 0;
      margin-right: 0;
      
      .expand-comments {
        display: none;
      }
      
      .unexpand-comments {
        display: block;
      }
    }
    
    &.loading {
      .expand-comments {
        display: none;
      }
    }
    
    &.loading::before {
      background-image: url("../gfx/loader.svg");
      background-position: center;
      background-repeat: no-repeat;
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      z-index: 15;
    }
    
    h4 {
      color: #000000;
    }
    
    .comment-box {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 10px;
      min-height: 30px;
      border: 1px solid black;
      
      .root-comment {
        width: 100%;
        
        a[class^="answers-"] {
          font-size: 12px;
          margin: 2px 0 2px 5px;
        }
        
        .parent-comment {
          color: #000000;
          margin: 5px 0 2px 5px;
          font-size: 16px;
        }
      }
      
      div[class^="child-comments-"] {
        display: none;
        
        p {
          color: #000000;
          font-size: 14px;
          margin: 5px 10px 5px 10px;
          border-bottom: 1px solid black;
        }
      }
    }

    .comment-ball {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 1px solid #f8f8f8;
      display: inline-block;
      position: absolute;
      margin-left: -45px;
      margin-top: -8px;
      -webkit-box-shadow: 1px 1px 5px 0 rgba(145,145,145,1);
      -moz-box-shadow: 1px 1px 5px 0 rgba(145,145,145,1);
      box-shadow: 1px 1px 5px 0 rgba(145,145,145,1);
    }
    
    .comment-details {
      min-height: 50px;
      background: $comment-background;
      border-radius: 2px;
      padding-left: 25px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      display: inline-block;
      margin-left: 15px;
      width: calc(100% - 15px);
      -webkit-box-shadow: 1px 1px 5px 0 rgba(145,145,145,1);
      -moz-box-shadow: 1px 1px 5px 0 rgba(145,145,145,1);
      box-shadow: 1px 1px 5px 0 rgba(145,145,145,1);
      
      .comment-created,
      .comment-text,
      .comment-child-comments {
        padding: 0;
        margin: 0;
        color: #505050;
        padding-bottom: 5px;
        display: block;
      }
      
      .comment-created {
        font-size: 11px;
        font-style: italic;
      }
      
      .comment-text {
        font-size: 12px;
      }
      
      .comment-child-comments {
        font-size: 11px;
        color: $child-comments-count-color;
      }
    }
  
    .comments-1 {
      border-bottom: 2px solid #000000;
      border-left: 4px solid #000000;
      border-right: 2px solid #000000;
      border-top: 4px solid #000000;
    }

    .comments-2 {
      border-bottom: 2px solid #000000;
      border-left: 2px solid #000000;
      border-right: 4px solid #000000;
      border-top: 4px solid #000000;
    }

    .comments-3 {
      border-bottom: 4px solid #000000;
      border-left: 4px solid #000000;
      border-right: 2px solid #000000;
      border-top: 2px solid #000000;
    }

    .comments-4 {
      border-bottom: 4px solid #000000;
      border-left: 2px solid #000000;
      border-right: 4px solid #000000;
      border-top: 2px solid #000000;
    }
  }
}

.modal-comment-dialog {
  
  .modal-content {
    background: $comment-background;    
    
    .comment-created,
    .comment-text,
    .comment-child-comments {
      padding: 0;
      margin: 0;
      color: #505050;
      padding-bottom: 5px;
      display: block;
    }

    .comment-created {
      font-size: 14px;
      font-style: italic;
    }

    .comment-text {
      font-size: 16px;
    }
    
    .comment-child-comment {
      font-size: 16px;
    }
  }
  

}