.chart-container {
  background: #fff;
}

.card-title, .fullScreen {
  display:inline;
}

.fullScreen {
  float:right;
  background: #fff;
  color: #000;
}

#progressBar {
  width: 100%;
  height: 20px;
}

.control-buttons{
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  
  i {
    color: #000000;
    font-size: 28px;
  }
  
  .play-button {
    margin-right: 5px;
  }
  
  .pause-button {
    margin-left: 5px;
  }
}